@media only screen and (max-width: 1440px){
    .nav-list li {
        list-style: none;
        padding: 38px 10px;
    }
    .searchNav {
        width: 23%;
    }
    .logo {
        width: 10.5%;
        margin-right: 1%;
        margin-left: 4%;
    }
    #search{
        font-size: 14px;
    }        
}

@media only screen and (max-width: 1023px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 670px;
        transition: all 0.5s ease-out;
        background-color: rgba( 0, 0, 0, 1.1)
    }
    .searchNav{
        flex-direction: column;
    }
    #search{
        width: 100%;
    }
    .option{
        display: block;
    }
    .h-nav-resp{
        height: 60px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .main-box{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .para{
        padding: 25px 0px;
    }
}    

@media only screen and (max-width: 1294px){
    .f-background{
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;
    }
    .foot{
        width:auto;
        height:auto;
    }
}